body {
    background: #fff;
    background-image:url('./images/background.jpg');
    background-size: cover;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.container {
    border: none;
    width: 400px;
    position: absolute;
    left: 50%;
    margin-left: -200px;
}

.title {
    border-width:0px;
    position:absolute;
    left:30px;
    top:120px;
    width:336px;
    height:50px;
    padding-left: 5px;
    background:inherit;
    background-color:#F66733;
    -moz-box-shadow:0px 4px 3px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow:4px 4px 3px rgba(0, 0, 0, 0.349019607843137);
    box-shadow:0px 4px 3px rgba(0, 0, 0, 0.349019607843137);
    font-size:16px;
    font-weight: bold;
    color:#FFFFFF;
/*    text-align: center;*/
    vertical-align: middle;
    line-height: 18px;
}

.settings {
    border-width:0px;
    position:absolute;
    left:29px;
    top:171px;
    width:323px;
    height:520px;
    padding: 10px;
    background-image: url("./images/back.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color:#FFFFFF;
    -moz-box-shadow:0px 4px 3px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow:0px 4px 3px rgba(0, 0, 0, 0.349019607843137);
    box-shadow:0px 4px 3px rgba(0, 0, 0, 0.349019607843137);
    overflow-y:auto;
}

.settingsWithScroll {
    border-width:0px;
    position:absolute;
    left:30px;
    top:171px;
    width:321px;
    height:500px;
    padding: 10px;
    background-image: url("./images/back.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color:#FFFFFF;
    -moz-box-shadow:0px 4px 3px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow:0px 4px 3px rgba(0, 0, 0, 0.349019607843137);
    box-shadow:0px 4px 3px rgba(0, 0, 0, 0.349019607843137);
    overflow-y : scroll;
}

.dsmbox {
    border-width:3px;
    position:relative;
    left:2px;
    top:20px;
    width:300px;
    height:160px;
    padding: 10px;
    background-color:#522D80;
    border-radius:2px;
    -moz-box-shadow:0px 4px 3px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow:0px 4px 3px rgba(0, 0, 0, 0.349019607843137);
    box-shadow:0px 4px 3px rgba(0, 0, 0, 0.349019607843137);
    word-wrap:break-word; 
    color:#FFFFFF;
}

.dumbox {
    border-width:3px;
    position:relative;
    left:2px;
    top:60px;
    width:300px;
    height:160px;
    padding: 10px;
    background-color:purple;
    border-radius:2px;
    -moz-box-shadow:0px 4px 3px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow:0px 4px 3px rgba(0, 0, 0, 0.349019607843137);
    box-shadow:0px 4px 3px rgba(0, 0, 0, 0.349019607843137);
    word-wrap:break-word;
    color:#FFFFFF;
}

.dsmbox:hover,.dumbox:hover {
    background-color: #a12311;
}

.storage {
    border-width:0px;
    position:absolute;
/*    left:40px;*/
    width:320px;
    height:70px;
    background-color:rgba(242, 242, 242, 1);
    -moz-box-shadow:0px 4px 3px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow:0px 4px 3px rgba(0, 0, 0, 0.349019607843137);
    box-shadow:0px 4px 3px rgba(0, 0, 0, 0.349019607843137);
    text-align:left;
    vertical-align: middle;
    line-height: 35px;
    font-size:18px;
}

.profile {
    border-style:solid;
    border-width:1px;
    position:absolute;
    left:1px;
    width:339px;
    text-align:left;
}

.description {
    border-width:0px;
    position:relative;
    left:0px;
    top:0px;
    width:302px;
    padding-bottom:20px;
    font-size:12px;
    line-height:15px;
}

.devicecontainer {
    border-width:0px;
    position:relative;
    left:0px;
    top:0px;
    width:302px;
    height:360px;
    background-color:#FFFFFF;
}

.dev {
    border-top: 2px solid grey;
    height:30px;
    background-color:lightblue;
    font-size:18px;
}

.dropdown {
    border-width:0px;
    position:relative;
    left:0px;
    top:0px;
    width:auto;
    height:auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color:#FFFFFF;
    font-size:12px;
}

input[type="checkbox"] {
    background-color: transparent;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid lightgrey;
}

.right {
    position: relative;
    top: 10px;
    right: 10px;
    float: right;
}

.w3-button {
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    width: auto;
    height: 40px;
    font-size: 16px;
}

#questions {
    margin-top: 20px;
    margin-left: 100px;
}

.button,.smallbutton,.disabledSmallbutton,.minibutton {
    border: 1px solid black;
    background-color: #a4c63b;
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;
    cursor: hand
}

.button:hover,.smallbutton:hover,.minibutton:hover {
    background-color: #d4d4d4;
}
.button {
    padding: 5px 10px;
    background-position: 10px;
}

.slidebutton {
    padding: 3px;
}

.buttonrow{
	margin-top: 10px;
	margin-left: 280px;
	margin-bottom: 0px;
}

.bottomrow {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 720px;
    height: 30px;
    clear: both;
}

.w3-button:hover{color:#000!important;background-color:#ccc!important}
.w3-display-left{position: relative; top:280px; left: -32px; transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:relative; top:280px; left: 746px; transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}
.w3-orange,.w3-hover-orange:hover{color:#000!important;background-color:#ff9800!important}

#surveyHeader {
    background-color: #FFF;
/*    padding-left: 20px;*/
/*    padding-right: 20px;*/
/*    padding-top: 10px;*/
/*    padding-bottom: 10px;*/
    border-bottom: 2px solid #333;
}

.surveyTitle {
    font-family: Arial,sans-serif;
    color: #333;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0px;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}


.switch {
  position: relative;
  float:right;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #22FF66;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}
